= form_for @resource do |f|
  = f.text_field :name
  = f.text_field :nickname
  = f.text_field :email
  = f.select :gender, User::VALID_GENDER_VALUES, {}
  = f.date_field :date_of_birth
  = f.text_field :city
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.tags_field :interest_list, label: 'Interests', data: { collection: User::VALID_INTERESTS}, id: 'interests'
  = f.submit


:javascript
  Godmin.Datetimepickers.initializeDatepicker($('#user_date_of_birth'), {
    format: 'YYYY-MM-DD',
    defaultDate: '1990-01-01'
  });

  Godmin.Tags.initializeTagger($('#interests'), {
    // disables adding new interests
    create: false
  });
