= form_for @resource do |f|
  = f.select :activity_id, Activity.all.collect {|p| [ p.title, p.id ] }, {}, data: { behavior: 'select-box' }
  = f.text_field :file_attachment
  = f.select :attachment_type, ActivityDetail::VALID_TYPE_VALUES, {}, data: { behavior: 'select-box' }
  = f.submit
