= form_for @resource do |f|
  = f.text_field :title
  = f.text_area :body
  = f.select :user_id, User.all.collect {|p| [ p.name, p.id ] }, {}, data: { behavior: 'select-box' }
  = f.select :difficulty, Activity::VALID_DIFFICULTY_VALUES, {}, data: { behavior: 'select-box' }
  = f.select :category, Activity::VALID_CATEGORIES, {}, data: { behavior: 'select-box' }
  -# = f.text_field :category
  = f.submit
